[phases.setup]
nixPkgs = ["nodejs_22", "pnpm-9_15_3"]

[phases.install]
cmds = ["pnpm install --frozen-lockfile"]

[phases.build]
cmds = ["pnpm build"]

[start]
cmd = "pnpm preview --host 0.0.0.0 --port $PORT"
